USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 5/18/2018 3:09:03 PM ******/
CREATE DATABASE [QLTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [tblDocGia]    Script Date: 5/18/2018 3:09:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblDocGia](
	[madocgia] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[maloaidocgia] [nvarchar](10) NULL,
	[ngaysinh] [datetime2](7) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[ngaylapthe] [datetime2](7) NULL,
 CONSTRAINT [PK_tblDocGia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [tblLoaiDocGia]    Script Date: 5/18/2018 3:09:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tblLoaiDocGia](
	[maloaidocgia] [nvarchar](2) NOT NULL,
	[tenloaidocgia] [nvarchar](2) NULL,
 CONSTRAINT [PK_tblLoaiDocGia] PRIMARY KEY CLUSTERED 
(
	[maloaidocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe]) VALUES (N'0', N'A', N'X', CAST(N'2000-12-09 00:00:00.0000000' AS DateTime2), N'a', N'a', CAST(N'2018-12-17 00:00:00.0000000' AS DateTime2))
INSERT [tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe]) VALUES (N'18', N'Nguyễn Thị Nam Tính', N'18', CAST(N'2000-05-18 15:00:58.0000000' AS DateTime2), N'Sài Gòn', N'nguyenthinamtinh@gmail.com', CAST(N'2018-05-18 15:00:58.4630000' AS DateTime2))
USE [master]
GO
