USE [master]
GO
/****** Object:  Database [QLTV]    Script Date: 6/21/2018 9:57:17 PM ******/
CREATE DATABASE [QLTV]
CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLTV]
GO
/****** Object:  Table [dbo].[tblChiTietPhieuMuonSach]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblChiTietPhieuMuonSach](
	[mactphieumuonsach] [nvarchar](50) NOT NULL,
	[masach] [nvarchar](50) NULL,
	[maphieumuonsach] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblChiTietPhieuMuonSach] PRIMARY KEY CLUSTERED 
(
	[mactphieumuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblDocGia]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblDocGia](
	[madocgia] [nvarchar](50) NOT NULL,
	[hoten] [nvarchar](50) NULL,
	[maloaidocgia] [int] NULL,
	[ngaysinh] [datetime2](7) NULL,
	[diachi] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[ngaylapthe] [datetime2](7) NULL,
 CONSTRAINT [PK_tblDocGia] PRIMARY KEY CLUSTERED 
(
	[madocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblLoaiDocGia]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLoaiDocGia](
	[maloaidocgia] [int] NOT NULL,
	[tenloaidocgia] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblLoaiDocGia] PRIMARY KEY CLUSTERED 
(
	[maloaidocgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblPhieuMuonSach]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPhieuMuonSach](
	[maphieumuonsach] [nvarchar](50) NOT NULL,
	[ngaymuonsach] [datetime2](7) NULL,
	[madocgia] [nvarchar](50) NULL,
	[ngaytrasach] [datetime2](7) NULL,
 CONSTRAINT [PK_tblPhieuMuonSach] PRIMARY KEY CLUSTERED 
(
	[maphieumuonsach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblQuyDinh]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblQuyDinh](
	[id] [int] NOT NULL,
	[tuoitoithieu] [int] NOT NULL,
	[tuoitoida] [int] NOT NULL,
	[thoihansudung] [int] NOT NULL,
	[khoangcachxuatban] [int] NOT NULL,
	[songaymuontoida] [int] NOT NULL,
	[sosachmuontoida] [int] NOT NULL,
 CONSTRAINT [PK_tblQuyDinh] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblSach]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSach](
	[masach] [nvarchar](50) NOT NULL,
	[tensach] [nvarchar](50) NULL,
	[matheloaisach] [int] NULL,
	[tacgia] [nvarchar](50) NULL,
	[namxuatban] [int] NULL,
	[nhaxuatban] [nvarchar](50) NULL,
	[ngaynhap] [datetime2](7) NULL,
	[trigia] [int] NULL,
	[tinhtrangsach] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblSach] PRIMARY KEY CLUSTERED 
(
	[masach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tblTheLoaiSach]    Script Date: 6/21/2018 9:57:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTheLoaiSach](
	[matheloaisach] [int] NOT NULL,
	[tentheloaisach] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblTheLoaiSach] PRIMARY KEY CLUSTERED 
(
	[matheloaisach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe]) VALUES (N'1', N'Đỗ Thành Lộc', 1, CAST(N'2000-12-12 00:00:00.0000000' AS DateTime2), N'a', N'2', CAST(N'2004-12-12 00:00:00.0000000' AS DateTime2))
INSERT [dbo].[tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe]) VALUES (N'18', N'Lê Thanh Luân', 2, CAST(N'2018-05-24 10:02:53.9930000' AS DateTime2), N'daklak', N'dothanhloc1998@gmail.com', CAST(N'2018-05-24 10:02:53.9870000' AS DateTime2))
INSERT [dbo].[tblDocGia] ([madocgia], [hoten], [maloaidocgia], [ngaysinh], [diachi], [email], [ngaylapthe]) VALUES (N'18000000', N'Nguyễn Trần Cường', 3, CAST(N'2018-05-26 10:42:55.7900000' AS DateTime2), N'B11/17', N'haulinhlk@gmail.com', CAST(N'2018-05-26 10:42:55.7870000' AS DateTime2))
INSERT [dbo].[tblLoaiDocGia] ([maloaidocgia], [tenloaidocgia]) VALUES (1, N'Học sinh')
INSERT [dbo].[tblLoaiDocGia] ([maloaidocgia], [tenloaidocgia]) VALUES (2, N'Giáo viên')
INSERT [dbo].[tblLoaiDocGia] ([maloaidocgia], [tenloaidocgia]) VALUES (3, N'Giám đốc')
INSERT [dbo].[tblQuyDinh] ([id], [tuoitoithieu], [tuoitoida], [thoihansudung], [khoangcachxuatban], [songaymuontoida], [sosachmuontoida]) VALUES (1, 18, 35, 6, 8, 4, 5)
INSERT [dbo].[tblSach] ([masach], [tensach], [matheloaisach], [tacgia], [namxuatban], [nhaxuatban], [ngaynhap], [trigia], [tinhtrangsach]) VALUES (N'1', N'Vội vàng', 1, N'Văn Cao', 2015, N'Việt Nam', CAST(N'1998-12-12 00:00:00.0000000' AS DateTime2), 12000, N'Chưa được mượn')
INSERT [dbo].[tblSach] ([masach], [tensach], [matheloaisach], [tacgia], [namxuatban], [nhaxuatban], [ngaynhap], [trigia], [tinhtrangsach]) VALUES (N'18000001', N'Bố già', 2, N'Tố Hữu', 2016, N'Việt Nam', CAST(N'2018-06-05 15:07:56.2430000' AS DateTime2), 12300, N'Chưa được mượn')
INSERT [dbo].[tblSach] ([masach], [tensach], [matheloaisach], [tacgia], [namxuatban], [nhaxuatban], [ngaynhap], [trigia], [tinhtrangsach]) VALUES (N'18000002', N'Thế giới phẳng', 3, N'Hoà Minzy', 2017, N'Việt Nam', CAST(N'2018-06-05 15:07:56.2430000' AS DateTime2), 12000, N'Chưa được mượn')
INSERT [dbo].[tblTheLoaiSach] ([matheloaisach], [tentheloaisach]) VALUES (1, N'Ngôn tình ')
INSERT [dbo].[tblTheLoaiSach] ([matheloaisach], [tentheloaisach]) VALUES (2, N'Khoa học ')
INSERT [dbo].[tblTheLoaiSach] ([matheloaisach], [tentheloaisach]) VALUES (3, N'Nhân văn học ')
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblPhieuMuonSach] FOREIGN KEY([maphieumuonsach])
REFERENCES [dbo].[tblPhieuMuonSach] ([maphieumuonsach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach] CHECK CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblPhieuMuonSach]
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach]  WITH CHECK ADD  CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblSach] FOREIGN KEY([masach])
REFERENCES [dbo].[tblSach] ([masach])
GO
ALTER TABLE [dbo].[tblChiTietPhieuMuonSach] CHECK CONSTRAINT [FK_tblChiTietPhieuMuonSach_tblSach]
GO
ALTER TABLE [dbo].[tblDocGia]  WITH CHECK ADD  CONSTRAINT [FK_tblDocGia_tblLoaiDocGia] FOREIGN KEY([maloaidocgia])
REFERENCES [dbo].[tblLoaiDocGia] ([maloaidocgia])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblDocGia] CHECK CONSTRAINT [FK_tblDocGia_tblLoaiDocGia]
GO
ALTER TABLE [dbo].[tblSach]  WITH CHECK ADD  CONSTRAINT [FK_tblSach_tblTheLoaiSach] FOREIGN KEY([matheloaisach])
REFERENCES [dbo].[tblTheLoaiSach] ([matheloaisach])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblSach] CHECK CONSTRAINT [FK_tblSach_tblTheLoaiSach]
GO
USE [master]
GO
